:root {
    --left-side-bg-color: #EFEFEF;
    --right-side-bg-color: #FFFFFF;
    --button-main-color: #92278F;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.main-body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    /* background-color: lightblue; */
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: inherit;
    background-color: var(--left-side-bg-color);
}

.left-side > .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: lightblue; */
}

.left-side > .logo, .right-side > .title {
    height: 200px;
}

.left-side > .urls-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: inherit; */
}

.left-side > .urls-display > p:first-child {
    font-weight: bold;
    padding-bottom: 10px;
}

.urls-display {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}

.urls-display::-webkit-scrollbar {
    width: 2px;
}

.urls-display::-webkit-scrollbar-track {
    background-color: var(--left-side-bg-color);
}

.urls-display::-webkit-scrollbar-thumb {
    background-color: var(--button-main-color);
}

.urls-display .url-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 16%;
}

.urls-display .url-content img {
    width: 18px;
    cursor: pointer;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: inherit;
    background-color: var(--right-side-bg-color);
    padding: 0 6%;
}

.right-side > .title {
    display: flex;
    align-items: center;
    width: 100%;
    /* background-color: lightblue; */

}

.right-side > .title h1 {
    font-weight: bold;
}

.right-side > .content input[type="url"]:focus, .right-side > .content select:focus {
    outline: none;
}

.right-side > .content input[type="url"] {
    height: 40px;
    width: 70%;
    padding-left: 10px;
}

.right-side > .content select {
    width: calc(28% - 4px);
    height: 40px;
    padding-left: 10px;
    margin-left: 2%;
    cursor: pointer;
}

.right-side > .content select option {
    position: absolute;
    height: 40px !important;
}

.right-side > .content input[type="button"] {
    height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    background-color: var(--button-main-color);
    cursor: pointer;
    border: none;
    color: white;
}

.right-side > .content input[type="button"]:hover {
    background-color: white;
    color: var(--button-main-color);
    border: 1px solid var(--button-main-color);
}